:root {
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--dark-purple);
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--light-pink);
  display: grid;
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  & h2 {
    font-weight: 600;
  }
}

@media (max-width: 960px), (orientation: portrait) {
  body {
    background-image: url("../assets/images/background-pattern-mobile.svg");
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: 15vh auto auto;
  }
  .question {
    font-size: 0.75rem;
  }
}

@media (min-width: 961px) and (orientation: landscape) {
  body {
    background-image: url("../assets/images/background-pattern-desktop.svg");
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 20vh 60% 20vh;
  }
}

.container {
  grid-column: 2;
  grid-row: 2;
  background-color: #fff;
  padding: 2rem 2rem 0 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  & h1 {
    font-size: 3rem;
    font-weight: 700;
  }
}

.qa-section {
  padding: 2rem 0;
}

.qa-section:not(:last-of-type) {
  border-bottom: 2px solid var(--light-pink);
}

.answer {
  color: var(--grayish-purple);
  padding-top: 1rem;
}
